<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', count: todo.errors.count, model: todo.model_name.human) %>:</h2>

      <ul>
        <% todo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.select :state, Todo.states_i18n.invert %>
  </div>

  <div class="field">
    <%= form.label :limit %>
    <%= form.date_select :limit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
