<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.title') %>:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong><%= t('.detail') %>:</strong>
  <%= @todo.detail %>
</p>

<p>
  <strong><%= t('.state') %>:</strong>
  <%= @todo.state_i18n %>
</p>

<p>
  <strong><%= t('.limit') %>:</strong>
  <%= @todo.limit %>
</p>

<%= link_to t('.edit'), edit_todo_path(@todo) %> |
<%= link_to t('.back'), todos_path %>
