<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>TodoRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <hr>
    Languages:
    <% I18n.available_locales.each do |locale| %>
      <%= link_to locale, todos_path(locale: locale) %>
    <% end %>
    <hr>
    <p>Copyright PJZ9n all rights reserved.</p>
  </body>
</html>
